.portfolio-table {
    margin-bottom: 0px;
}

.portfolio-table tr td:nth-child(1) {
    width: 30%;
}

.portfolio-table tr td:nth-child(2) {
    width: 10%;
    text-align: center;
}

.portfolio-table tr td:nth-child(3) {
    width: 40%;
}

.portfolio-table tr td:nth-child(4) {
    width: 10%;
    text-align: center;
}

.portfolio-table tr td:nth-child(5) {
    width: 10%;
    text-align: center;
}

@media screen and (max-width: 550px) {
    .portfolio-table tr th:nth-child(4), .portfolio-table tr td:nth-child(4){
        display: none;
    }
}